{% extends 'base.html.twig' %}

{% block html_title %}S'inscrire{% endblock %}

{% block titre %}S'inscrire{% endblock %}

{% block body %}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-primary">S'Inscrire</button>
        <a class="nav-link {% if app.request.attributes.get('_route') == 'login' %}active{% endif %}" href="{{ path('login') }}">Vous avez déjà un compte? Se connecter</a>

    {{ form_end(registrationForm) }}
{% endblock %}
