{% extends 'base.html.twig' %}

{% block html_title %}S'Inscrire{% endblock %}

{% block titre %}S'Inscrire{% endblock %}

{% block body %}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-primary">S'Inscrire</button>
    {{ form_end(registrationForm) }}
{% endblock %}
